#content {
  width: 100%;
  color: white;
  margin: 0 auto;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 2rem;
}

.menu-wrapper {
  list-style: none;
  display: flex;
  width: 100%;
  height: 4.5rem;
  position: fixed;
  bottom: 0;
}

.menu-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(126, 126, 126);
  &:hover {
    background-color: rgba(126, 126, 126, 0.7);
    cursor: pointer;
  }
}

.tab-label {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: white;
}

.tab-icon {
  color: white;
  height: 1.75rem;
}
